menu "Xiaord background images"

config XIAORD_BG_1
    bool "Background 1"
    default y if !XIAORD_BG_2 && !XIAORD_BG_3 && !XIAORD_BG_4 && !XIAORD_BG_5 && !XIAORD_BG_6

config XIAORD_BG_2
    bool "Background 2"
    default n

config XIAORD_BG_3
    bool "Background 3"
    default n

config XIAORD_BG_4
    bool "Family background 1"
    default n

config XIAORD_BG_5
    bool "Family background 2"
    default n

config XIAORD_BG_6
    bool "Family background 3"
    default n

endmenu
