#include <../boards/shields/seeed_xiao_round_display/seeed_xiao_round_display.overlay>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/xiaord/input_codes.h>
#include "zmk_behaviors.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
        zephyr,display = &gc9a01_xiao_round_display;
        zmk,display-led = &display_backlight;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <0>;
        rows = <0>;
        map = < >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
    };

    vkey: vkey {
        compatible = "zmk,virtual-key-source";
    };

    touchpad_listener: touchpad_listener {
        compatible = "zmk,input-listener";
        device = <&vkey>;
        input-processors = <&virtual_zmk_behavior &virtual_symbol_behavior>;
    };

    home_buttons {
        compatible = "xiaord,home-buttons";

        btn_upload {
            position = <0>;  /* 12 o'clock */
            code = <INPUT_VIRTUAL_SYM_UPLOAD>;
        };
        btn_image {
            position = <1>;  /* 1 o'clock */
            code = <INPUT_VIRTUAL_SYM_IMAGE>;
        };
        btn_volume_max {
            position = <2>;  /* 2 o'clock */
            code = <INPUT_VIRTUAL_SYM_VOLUME_MAX>;
        };
        btn_mute {
            position = <3>;  /* 3 o'clock */
            code = <INPUT_VIRTUAL_SYM_MUTE>;
        };
        btn_volume_mid {
            position = <4>;  /* 4 o'clock */
            code = <INPUT_VIRTUAL_SYM_VOLUME_MID>;
        };
        btn_next {
            position = <5>;  /* 5 o'clock */
            code = <INPUT_VIRTUAL_SYM_NEXT>;
        };
        btn_play {
            position = <6>;  /* 6 o'clock */
            code = <INPUT_VIRTUAL_SYM_PLAY>;
        };
        btn_prev {
            position = <7>;  /* 7 o'clock */
            code = <INPUT_VIRTUAL_SYM_PREV>;
        };
        btn_warning {
            position = <8>;  /* 8 o'clock */
            code = <INPUT_VIRTUAL_SYM_WARNING>;
        };
        btn_usb {
            position = <9>;  /* 9 o'clock */
            code = <INPUT_VIRTUAL_SYM_USB>;
        };
        btn_bt {
            position = <10>; /* 10 o'clock */
            code = <INPUT_VIRTUAL_SYM_BLUETOOTH>;
            nav-page = <XIAORD_PAGE_BT>;
        };
        btn_settings {
            position = <11>; /* 11 o'clock */
            code = <INPUT_VIRTUAL_SYM_SETTINGS>;
            nav-page = <XIAORD_PAGE_CLOCK>;
        };
    };

    backlight: node_led {
        compatible = "gpio-leds";
        display_backlight: led_0 {
            gpios = <&xiao_d 6 GPIO_ACTIVE_HIGH>;
            label = "Backlight LED";
        };
    };

};

// ToDo : Refactor custom logic into input processors; use default driver.
//&chsc6x_xiao_round_display {
//    compatible = "chipsemi,chsc6x-custom";
//};
