# Copyright (c) 2024 Custom CHSC6X driver
# SPDX-License-Identifier: Apache-2.0

config INPUT_CHSC6X_CUSTOM
	bool "CHSC6X custom input driver"
	default n
	depends on I2C && INPUT
	help
	  Enable custom driver for CHSC6X touchpad controller.
	  This is a customized version for the xiaord round display.
